
@keyframes anim-arrivee-des-plats {
	0% {
		animation-timing-function: ease-in-out;
		opacity: 0;
		transform: translateX(-600px);
	}
	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}
	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
		opacity: 1;
	}
}
.menu-restaurants-entrees-plat-dessert {
	#entree-1 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 0.1s 1 normal forwards;
	}
	#entree-2 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 0.2s 1 normal forwards;
	}
	#entree-3 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 0.3s 1 normal forwards;
	}
	#entree-4 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 0.4s 1 normal forwards;
	}
	#plats-1 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 0.8s 1 normal forwards;
	}
	#plats-2 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 0.9s 1 normal forwards;
	}
	#plats-3 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 1s 1 normal forwards;
	}
	#dessert-1 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 1.6s 1 normal forwards;
	}
	#dessert-2 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 1.7s 1 normal forwards;
	}
	#dessert-3 {
		animation: anim-arrivee-des-plats 0.8s ease-in-out 1.8s 1 normal forwards;
	}
}
