$color_1: white;

.button {
	height: 45px;
	background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	padding: 0px 25px;
	color: $color_1;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	display: block;
	&:hover {
		opacity: 0.8;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
		background-position: right;
		transition: all 0.3s ease-in-out;
	}
}

/**** Button 2 ****/

$color_1: white;

.button-2 {
	background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	padding: 0px 25px;
	color: $color_1;
	font-size: 14px;
	cursor: pointer;
	width: 45%;
	height: 45px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	&:hover {
		opacity: 0.8;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
		transition: 0.3s;
		width: 50%;
		transition: all 0.3s ease-in-out;
	}
}


@media only screen and (min-width: 775px) {

.button-2 {
    width: 25%;
    &:hover {
        width: 30%;
        }
    }
}    