$font-family_1: 'Roboto', sans-serif;

.restaurants-container {
	h2 {
		font-family: $font-family_1;
		align-self: start;
	}
}
.container-contenu-restaurants {
	display: grid;
	gap: 18px;
	width: 90vw;
	max-width: 490px;
}

@media only screen and (min-width: 775px) {
    .restaurants-container {
        max-width: 1080px;
    }
    
    .container-contenu-restaurants {
        max-width: 1080px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 50px;
    }
}