$font-family_1: "Roboto", sans-serif;

.ville-form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 17px;
	background: #eaeaea;
	input[type=text] {
		height: 50px;
		width: 110px;
		background: #EAEAEA;
		border: none;
		outline: none;
		font-family: $font-family_1;
		&::placeholder {
			font-size: 16px;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}
}
#inputlocalisation {
	background: #eaeaea;
	height: auto;
	width: 100%;
}
