$border-bottom-color_1: #9356DC;

@keyframes hidden_body_container {
	0% {
		height: 0px;
	}
	90% {
		height: 0px;
	}
	100% {
		height: auto;
		overflow: visible;
	}
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes hidden_loader {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}
.hide-during-loading {
	animation: hidden_body_container 3s linear forwards;
	overflow: hidden;
}
.loader {
	display: grid;
	justify-content: center;
	align-items: center;
	cursor: none;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	animation: hidden_loader 1s linear forwards;
}
.loader-spinner {
	width: 100px;
	height: 100px;
	display: inline-block;
	box-sizing: border-box;
	border: 5px solid #FFF;
	border-bottom-color: $border-bottom-color_1;
	border-radius: 50%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	animation: rotation 1s linear infinite;
}
