$font-family_1: "Shrikhand", serif;

.menu-restaurants-header {
	display: flex;
	justify-content: space-around;
	gap: 24px;
	h2 {
		font-family: $font-family_1;
		font-size: 28px;
		font-weight: 400;
	}
}
@media only screen and (min-width: 775px) {
	.menu-restaurants-header {
		@include Center
	}
}
